<p class="content-padded">Bienvenido al Front-Office de <strong>Cineworld</strong>, desde este aplicativo usted podrá realizar los pedidos a nuestros clientes. Recuerde que el cliente siempre tiene la razón, aunque en la práctica no sea así.</p>
<div class="input-group content-padded">
    <div class="input-row">
        <label>E-mail</label>
        <input type="text" placeholder="Ingrese su email" ng-model="Correo">
    </div>
    <div class="input-row">
        <label>Contraseña</label>
        <input type="password" placeholder="Ingrese su contraseña"  ng-model="Password">
    </div>
    <button class="btn btn-primary btn-block" type="button" ng-click="ingresar()">
        Ingresar
        <span class="icon icon-right"></span>
    </button>
</div>